<nav>
    <a href="http://localhost:3000/">Home </a>
    <a href="http://localhost:3000/api" target="_blank"> API </a>
    <a href="http://localhost:3000/api/users" target="_blank"> Users </a>
    <a href="http://localhost:3000/api/users/login" target="_blank"> Sign In </a>
    <a href="http://localhost:3000/api/jokes" target="_blank"> Jokes </a>
    <a href="http://localhost:3000/api/jokes/new" target="_blank"> Add joke </a>
    <a href="http://localhost:3000/api/comments" target="_blank"> Comments </a>
    <a href="http://localhost:3000/api/comments/new" target="_blank"> New Comment </a>
</nav>