<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOT FOUND</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="content">
        <h3>Oops!</h3>
        <code>Page Not Found...</code>
        <a href="http://localhost:3000/"><input type="button" value="Go to Home"> </a>
     </div>

    <script src="../server.js"></script>
</body>
</html>