<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Jokes-API | Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include('./partials/header.html') %>
    
    <div id="content">
        <h3>Welcome to Joke Api</h3>
        <code>Feel free to explore it...</code>
        <p>Hope these bring a smile to your face! </p>
     </div>
    
    <%- include('./partials/footer.html') %>
    <script src="../server.js"></script>
</body>
</html>